* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans TC", serif;
}

// header start
.header__container {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
  .header {
    width: 100%;
    background-image: url("/d_img/header_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //   height: 920px;
    &__nav {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 28px 0;
      &-logo {
        max-width: 100%;
        width: 252px;
        transition: all 0.3s;
        @media (max-width: 992px) {
          width: 132px;
        }
      }
      @media (max-width: 992px) {
        padding: 14px 0;
      }
    }
    &__content {
      max-width: 100%;
      display: flex;
      justify-content: center;
      padding: 0 30px;
      &-img {
        margin-top: -4%;
        max-width: 100%;
        padding-bottom: 6%;
        @media (max-width: 480px) {
          content: url("/m_img/mheader_area_img.png");
          margin-top: 0%;
          padding-bottom: 0%;
        }
      }
      @media (max-width: 480px) {
        padding: 0 0px;
      }
    }
    @media (max-width: 480px) {
      padding-bottom: 30%;
    }
  }
}

//main start
.main__container {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("/d_img/plaid_bg.png"), url("/d_img/main_bg.png");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
}

//lang_intro start
.lang__intro {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 30px;
  &-img {
    max-width: 100%;
    width: 917px;
    @media (max-width: 480px) {
      content: url("/m_img/mlang_intro.png");
    }
  }
  @media (max-width: 480px) {
    padding: 80px 30px;
  }
  @media (max-width: 375px) {
    padding: 80px 15px;
  }
}

//crm__card start
.crm__card {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 30px 120px 30px;
  &-img-wrapper {
    max-width: 100%;
    flex: 0 1 360px;
    display: flex;
    justify-content: center;
    &:nth-child(2) {
      margin: 0 60px;
      @media (max-width: 480px) {
        margin: 80px 0px;
      }
    }
    .crm_img1 {
      @media (max-width: 480px) {
        content: url("/m_img/mcreate_card.png");
      }
    }
    .crm_img2 {
      @media (max-width: 480px) {
        content: url("/m_img/mreader_card.png");
      }
    }
    .crm_img3 {
      @media (max-width: 480px) {
        content: url("/m_img/mmedia_card.png");
      }
    }
    @media (max-width: 480px) {
      flex: 0 1 420px;
    }
  }
  &-img {
    width: 100%;
  }
  @media (max-width: 480px) {
    flex-wrap: wrap;
    padding: 0px 15px 80px 15px;
  }
}

//lang__type start
.lang__type {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 120px 30px;
  &-title {
    margin-bottom: 32px;
    &-img {
      max-width: 100%;
      width: 249px;
      transition: all 0.3s;
      @media (max-width: 992px) {
        width: 169px;
      }
    }
  }
  &-content {
    &-img {
      max-width: 100%;
      width: 1170px;
      @media (max-width: 480px) {
        content: url("/m_img/mtheme_tree.png");
      }
    }
  }
  @media (max-width: 480px) {
    padding: 0px 30px 80px 30px;
  }
  @media (max-width: 375px) {
    padding: 0px 15px 80px 15px;
  }
}

//media_goal start
.lang__goal {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 30px 0px;
  &-title {
    &-img {
      max-width: 100%;
      width: 379px;
      transition: all 0.3s;
      @media (max-width: 992px) {
        width: 229px;
      }
    }
  }
  &-content {
    &-img {
      max-width: 100%;
      @media (max-width: 480px) {
        content: url("/m_img/mcloud_bg2.png");
      }
    }
    @media (max-width: 992px) {
      max-width: 100%;
    }
    @media (max-width: 480px) {
      max-width: 100%;
    }
  }
  @media (max-width: 480px) {
    padding: 0px 0px 30px 0px;
  }
}

//lang__news start
.lang__news {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 120px 30px;
  &-title {
    margin-bottom: 50px;
    &-img {
      max-width: 100%;
      width: 277px;
      @media (max-width: 992px) {
        width: 193px;
      }
    }
    @media (max-width: 768px) {
      margin-bottom: 30px;
    }
  }
  &-lists {
    &-list {
      display: flex;
      border: 2px solid #dbbfad;
      border-radius: 30px;
      background-color: #fcf9f7;
      padding: 40px 50px;
      margin-bottom: 40px;
      &-l {
        margin-right: 40px;
        &-title {
          color: #000;
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 8px;
          min-height: calc(24px * 2);
          @media (max-width: 768px) {
            font-size: 18px;
            margin-bottom: 0px;
          }
        }
        &-content {
          color: #666;
          font-size: 20px;
          text-align: justify;
          min-height: calc(16px * 3);
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin-bottom: 30px;
          @media (max-width: 768px) {
            display: none;
          }
        }
        &-time {
          text-align: end;
          color: #a3a3a3;
          font-size: 16px;
          @media (max-width: 768px) {
            display: none;
          }
        }
        @media (max-width: 768px) {
          order: 2;
          margin-right: 0px;
        }
      }
      &-r {
        display: flex;
        justify-content: center;
        align-items: center;
        &-img {
          width: 300px;
          transition: all 0.3s;
          @media (max-width: 360px) {
            width: 238px;
          }
        }
        @media (max-width: 768px) {
          order: 1;
          margin-bottom: 8px;
        }
      }
      @media (max-width: 768px) {
        flex-direction: column;
        padding: 30px 24px;
      }
    }
  }
  &-smbtn {
    &-a {
      &-img {
        max-width: 100%;
        width: 284px;
        transition: all 0.3s;
        @media (max-width: 992px) {
          width: 178px;
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 0px 15px 50px 15px;
  }
}

//lang__story start
.lang__story {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 30px 180px 30px;
  &-title {
    margin-bottom: 80px;
    &-img {
      max-width: 100%;
      width: 637px;
      transition: all 0.3s;
      @media (max-width: 992px) {
        width: 337px;
      }
    }
    @media (max-width: 992px) {
      margin-bottom: 40px;
    }
  }
  &-cards {
    display: flex;
    &-wrap {
      max-width: 100%;
      flex: 0 1 360px;
      display: flex;
      justify-content: center;
      &:nth-child(2) {
        margin: 0 60px;
        @media (max-width: 992px) {
          margin: 0px 30px;
        }
        @media (max-width: 480px) {
          margin: 80px 0px;
        }
      }
      &-img {
        width: 100%;
      }
      @media (max-width: 480px) {
        flex: 0 1 420px;
      }
    }
    @media (max-width: 480px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media (max-width: 992px) {
    padding: 0px 30px 100px 30px;
  }
  @media (max-width: 480px) {
    padding: 0px 15px 100px 15px;
  }
}

//footer__container start
.footer {
  max-width: 1920px;
  height: 360px;
  margin: 0 auto;
  padding: 0 30px;
  background-image: url("/d_img/co_bg.png"), url("/d_img/plaid_bg.png");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  .footer__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-title {
      &-img {
        max-width: 100%;
        width: 496px;
        margin-top: -3.5rem;
        transition: all 0.3s;
        @media (max-width: 992px) {
          width: 332px;
          margin-top: -2.2rem;
          margin-left: 0.4rem;
        }
      }
    }
    &-content {
      &-img {
        max-width: 100%;
        margin-right: 2rem;

        @media (max-width: 992px) {
          max-width: 85%;
          margin-right: 1rem;
          margin-top: 2rem;
        }
      }
      @media (max-width: 992px) {
        display: flex;
        justify-content: center;
      }
    }
  }
  @media (max-width: 992px) {
    height: 310px;
    padding: 0 20px;
  }
  @media (max-width: 360px) {
    height: 270px;
  }
  @media (max-width: 320px) {
    height: 230px;
  }
}
