* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Noto Sans TC", serif;
}

.header__container {
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}
.header__container .header {
  width: 100%;
  background-image: url("/d_img/header_bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__container .header__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 0;
}
.header__container .header__nav-logo {
  max-width: 100%;
  width: 252px;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .header__container .header__nav-logo {
    width: 132px;
  }
}
@media (max-width: 992px) {
  .header__container .header__nav {
    padding: 14px 0;
  }
}
.header__container .header__content {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 30px;
}
.header__container .header__content-img {
  margin-top: -4%;
  max-width: 100%;
  padding-bottom: 6%;
}
@media (max-width: 480px) {
  .header__container .header__content-img {
    content: url("/m_img/mheader_area_img.png");
    margin-top: 0%;
    padding-bottom: 0%;
  }
}
@media (max-width: 480px) {
  .header__container .header__content {
    padding: 0 0px;
  }
}
@media (max-width: 480px) {
  .header__container .header {
    padding-bottom: 30%;
  }
}

.main__container {
  max-width: 1920px;
  margin: 0 auto;
  background-image: url("/d_img/plaid_bg.png"), url("/d_img/main_bg.png");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
}

.lang__intro {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 100px 30px;
}
.lang__intro-img {
  max-width: 100%;
  width: 917px;
}
@media (max-width: 480px) {
  .lang__intro-img {
    content: url("/m_img/mlang_intro.png");
  }
}
@media (max-width: 480px) {
  .lang__intro {
    padding: 80px 30px;
  }
}
@media (max-width: 375px) {
  .lang__intro {
    padding: 80px 15px;
  }
}

.crm__card {
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 0px 30px 120px 30px;
}
.crm__card-img-wrapper {
  max-width: 100%;
  flex: 0 1 360px;
  display: flex;
  justify-content: center;
}
.crm__card-img-wrapper:nth-child(2) {
  margin: 0 60px;
}
@media (max-width: 480px) {
  .crm__card-img-wrapper:nth-child(2) {
    margin: 80px 0px;
  }
}
@media (max-width: 480px) {
  .crm__card-img-wrapper .crm_img1 {
    content: url("/m_img/mcreate_card.png");
  }
}
@media (max-width: 480px) {
  .crm__card-img-wrapper .crm_img2 {
    content: url("/m_img/mreader_card.png");
  }
}
@media (max-width: 480px) {
  .crm__card-img-wrapper .crm_img3 {
    content: url("/m_img/mmedia_card.png");
  }
}
@media (max-width: 480px) {
  .crm__card-img-wrapper {
    flex: 0 1 420px;
  }
}
.crm__card-img {
  width: 100%;
}
@media (max-width: 480px) {
  .crm__card {
    flex-wrap: wrap;
    padding: 0px 15px 80px 15px;
  }
}

.lang__type {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 120px 30px;
}
.lang__type-title {
  margin-bottom: 32px;
}
.lang__type-title-img {
  max-width: 100%;
  width: 249px;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .lang__type-title-img {
    width: 169px;
  }
}
.lang__type-content-img {
  max-width: 100%;
  width: 1170px;
}
@media (max-width: 480px) {
  .lang__type-content-img {
    content: url("/m_img/mtheme_tree.png");
  }
}
@media (max-width: 480px) {
  .lang__type {
    padding: 0px 30px 80px 30px;
  }
}
@media (max-width: 375px) {
  .lang__type {
    padding: 0px 15px 80px 15px;
  }
}

.lang__goal {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 30px 0px;
}
.lang__goal-title-img {
  max-width: 100%;
  width: 379px;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .lang__goal-title-img {
    width: 229px;
  }
}
.lang__goal-content-img {
  max-width: 100%;
}
@media (max-width: 480px) {
  .lang__goal-content-img {
    content: url("/m_img/mcloud_bg2.png");
  }
}
@media (max-width: 992px) {
  .lang__goal-content {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .lang__goal-content {
    max-width: 100%;
  }
}
@media (max-width: 480px) {
  .lang__goal {
    padding: 0px 0px 30px 0px;
  }
}

.lang__news {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 120px 30px;
}
.lang__news-title {
  margin-bottom: 50px;
}
.lang__news-title-img {
  max-width: 100%;
  width: 277px;
}
@media (max-width: 992px) {
  .lang__news-title-img {
    width: 193px;
  }
}
@media (max-width: 768px) {
  .lang__news-title {
    margin-bottom: 30px;
  }
}
.lang__news-lists-list {
  display: flex;
  border: 2px solid #dbbfad;
  border-radius: 30px;
  background-color: #fcf9f7;
  padding: 40px 50px;
  margin-bottom: 40px;
}
.lang__news-lists-list-l {
  margin-right: 40px;
}
.lang__news-lists-list-l-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  min-height: 48px;
}
@media (max-width: 768px) {
  .lang__news-lists-list-l-title {
    font-size: 18px;
    margin-bottom: 0px;
  }
}
.lang__news-lists-list-l-content {
  color: #666;
  font-size: 20px;
  text-align: justify;
  min-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .lang__news-lists-list-l-content {
    display: none;
  }
}
.lang__news-lists-list-l-time {
  text-align: end;
  color: #a3a3a3;
  font-size: 16px;
}
@media (max-width: 768px) {
  .lang__news-lists-list-l-time {
    display: none;
  }
}
@media (max-width: 768px) {
  .lang__news-lists-list-l {
    order: 2;
    margin-right: 0px;
  }
}
.lang__news-lists-list-r {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lang__news-lists-list-r-img {
  width: 300px;
  transition: all 0.3s;
}
@media (max-width: 360px) {
  .lang__news-lists-list-r-img {
    width: 238px;
  }
}
@media (max-width: 768px) {
  .lang__news-lists-list-r {
    order: 1;
    margin-bottom: 8px;
  }
}
@media (max-width: 768px) {
  .lang__news-lists-list {
    flex-direction: column;
    padding: 30px 24px;
  }
}
.lang__news-smbtn-a-img {
  max-width: 100%;
  width: 284px;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .lang__news-smbtn-a-img {
    width: 178px;
  }
}
@media (max-width: 480px) {
  .lang__news {
    padding: 0px 15px 50px 15px;
  }
}

.lang__story {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 30px 180px 30px;
}
.lang__story-title {
  margin-bottom: 80px;
}
.lang__story-title-img {
  max-width: 100%;
  width: 637px;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .lang__story-title-img {
    width: 337px;
  }
}
@media (max-width: 992px) {
  .lang__story-title {
    margin-bottom: 40px;
  }
}
.lang__story-cards {
  display: flex;
}
.lang__story-cards-wrap {
  max-width: 100%;
  flex: 0 1 360px;
  display: flex;
  justify-content: center;
}
.lang__story-cards-wrap:nth-child(2) {
  margin: 0 60px;
}
@media (max-width: 992px) {
  .lang__story-cards-wrap:nth-child(2) {
    margin: 0px 30px;
  }
}
@media (max-width: 480px) {
  .lang__story-cards-wrap:nth-child(2) {
    margin: 80px 0px;
  }
}
.lang__story-cards-wrap-img {
  width: 100%;
}
@media (max-width: 480px) {
  .lang__story-cards-wrap {
    flex: 0 1 420px;
  }
}
@media (max-width: 480px) {
  .lang__story-cards {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .lang__story {
    padding: 0px 30px 100px 30px;
  }
}
@media (max-width: 480px) {
  .lang__story {
    padding: 0px 15px 100px 15px;
  }
}

.footer {
  max-width: 1920px;
  height: 360px;
  margin: 0 auto;
  padding: 0 30px;
  background-image: url("/d_img/co_bg.png"), url("/d_img/plaid_bg.png");
  background-size: cover, cover;
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
}
.footer .footer__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer .footer__container-title-img {
  max-width: 100%;
  width: 496px;
  margin-top: -3.5rem;
  transition: all 0.3s;
}
@media (max-width: 992px) {
  .footer .footer__container-title-img {
    width: 332px;
    margin-top: -2.2rem;
    margin-left: 0.4rem;
  }
}
.footer .footer__container-content-img {
  max-width: 100%;
  margin-right: 2rem;
}
@media (max-width: 992px) {
  .footer .footer__container-content-img {
    max-width: 85%;
    margin-right: 1rem;
    margin-top: 2rem;
  }
}
@media (max-width: 992px) {
  .footer .footer__container-content {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 992px) {
  .footer {
    height: 310px;
    padding: 0 20px;
  }
}
@media (max-width: 360px) {
  .footer {
    height: 270px;
  }
}
@media (max-width: 320px) {
  .footer {
    height: 230px;
  }
}/*# sourceMappingURL=style.css.map */